html, body {
  height: 250px;
  width: 175px;
  background-color: black;
}

.hidden {
  display: none;
}

.button {
  margin: 4% auto;
  padding: 6px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 4px;
}

.control:hover {
  background-color: #797979;
}

.control {
  background-color: #b1b1b1;
}

.timer {
  text-align: center;
  font-size: 1.5em;
}

.time {
  color: #e7e7e7;
  font-weight: bold;
}

.distraction-count {
  color: #e7e7e7;
  font-weight: bold;
}